{% extends "common/view/layout/base.view.html" %}

{% block content %}
<main class="my-5">
  <div class="columns is-centered">
    <div class="column is-half">
      <form action="/car/save" method="POST">
        {% if car.id %}
          <input type="hidden" value="{{ car.id }}" name="id" readonly/>
        {% endif %}
        
        <div class="field">
          <label class="label" for="brand">Brand</label>
          <div class="control">
            <input class="input" id="brand" name="brand" type="text" value="{{ car.brand }}" placeholder="{{ car.brand }}" required/>
          </div>
        </div>
    
        <div class="field">
          <label class="label" for="model">Model</label>
          <div class="control">
            <input class="input" id="model" name="model" type="text" value="{{ car.model }}" placeholder="{{ car.model }}" required/>
          </div>
        </div>
    
        <div class="field">
          <label class="label" for="year">Year</label>
          <div class="control">
            <input class="input" id="year" name="year" type="number" value="{{ car.year }}" placeholder="{{ car.year }}" required/>
          </div>
        </div>
    
        <div class="field">
          <label class="label" for="kmh">KmH</label>
          <div class="control">
            <input class="input" id="kmh" name="kmh" type="number" value="{{ car.kmh }}" placeholder="{{ car.kmh }}" required/>
          </div>
        </div>
        
        <div class="field">
          <label class="label" for="color">Color</label>
          <div class="control">
            <input class="input" id="color" name="color" type="text" value="{{ car.color }}" placeholder="{{ car.color }}" required/>
          </div>
        </div>
  
        <div class="field">
          <label class="label">A/C</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="air-conditioner" value="1" {{ "checked" if car.airConditioner === true }} required/>
              Yes
            </label>
            <label class="radio">
              <input type="radio" name="air-conditioner" value="" {{ "checked" if car.airConditioner === false }} required/>
              No
            </label>
          </div>
        </div>
  
        <div class="field">
          <label class="label" for="passengers">Passengers</label>
          <div class="control">
            <input class="input" id="passengers" name="passengers" type="number" value="{{ car.passengers }}" placeholder="{{ car.passengers }}" required/>
          </div>
        </div>
  
        <div class="field">
          <label class="label">Transmission</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="transmission" value="manual" {{ "checked" if car.transmission === "manual" }} required/>
              Manual
            </label>
            <label class="radio">
              <input type="radio" name="transmission" value="automatic" {{ "checked" if car.transmission === "automatic" }} required/>
              Automatic
            </label>
          </div>
        </div>

        <div class="field">
          <label class="label" for="price">Price</label>
          <div class="control">
            <input class="input" id="price" name="price" type="number" value="{{ car.price }}" placeholder="{{ car.price }}" required/>
          </div>
        </div>
    
        <div class="field">
          <div class="control has-text-centered">
            {% if car.id %}
              <button class="button is-primary">Update Record</button>
            {% else %}
              <button class="button is-primary">Save Record</button>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
