{% extends "common/view/layout/base.view.html" %}

{% block content %}
  <main class="my-5">
    <div class="container">
      {% if message %}
        <div class="block">
          <div class="notification is-success">{{ message }}</div>
        </div>
      {% endif %}
  
      {% if error %}
        <div class="block">
          <div class="notification is-danger">{{ error }}</div>
        </div>
      {% endif %}
  
      <div class="block has-text-centered">
        <a class="button is-primary" href="/car/create">Add New Record</a>
      </div>
  
      <div class="block">
        <table class="table is-bordered is-striped is-fullwidth has-text-centered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Brand</th>
              <th>Model</th>
              <th>Year</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for car in cars %}
            <tr>
              <td>{{ car.id }}</td>
              <td>{{ car.brand }}</td>
              <td>{{ car.model }}</td>
              <td>{{ car.year }}</td>
              <td>{{ car.price }}</td>
              <td>
                <a href="/car/view/{{ car.id }}" class="button is-info">
                  <i class="far fa-eye mr-2"></i>
                  Details
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div>
      {% if numberOfButtons > pages %}
	{% set numberOfButtons = pages %}
{% endif %}

{% set delta = (numberOfButtons / 2)|round(0, 'floor') %}
{% set visibleRangeStart = activePage - delta %}
{% set visibleRangeEnd = activePage + delta %}

{% if numberOfPages % 2 == 0 %}
	{% set visibleRangeEnd = visibleRangeEnd - 1 %}
{% endif %}

{% if visibleRangeStart < 1 %}
	{% set visibleRangeEnd = visibleRangeEnd - visibleRangeStart + 1 %}
{% endif %}

{% if visibleRangeEnd > pages %}
	{% set visibleRangeStart = visibleRangeStart - visibleRangeEnd + pages %}
{% endif %}

{% if 1 > visibleRangeStart %}
	{% set visibleRangeStart = 1 %}
{% endif %}

{% if pages < visibleRangeEnd %}
	{% set visibleRangeEnd = pages %}
{% endif %}

{% if visibleRangeStart > 2 %}
	{% set hasLess = true %}
{% endif %}

{% if visibleRangeEnd + 1 < pages %}
	{% set hasMore = true %}
{% endif %}

{% for i in range(1, pages + 1) %}
<a href="/car?page=asd" class="button pagination__page js-pagination-button" data-page="null"><</a>
	{% if i >= visibleRangeStart  and i <= visibleRangeEnd %}
		{% if i == visibleRangeStart and visibleRangeStart != 1 %}
			<a href="/car?page=asd" class="button pagination__page js-pagination-button" data-page="null">1</a>
			{% if hasLess %}
				<span class="pagination__page">...</span>
			{% endif %}
		{% endif %}
		<a href="/car?page={{ i if i >= 1 else 'null' }}" class="button{{ ' button--highlight' if i == activePage }} pagination__page js-pagination-button" data-page="{{ i if i > 1 else 'null' }}">{{ i }}</a>
		{% if i == visibleRangeEnd and visibleRangeEnd != pages%}
			{% if hasMore %}
				<span class="pagination__page">...</span>
			{% endif %}
			<a href="/car?page={{ pages }}" class="button pagination__page js-pagination-button" data-page="{{ pages }}">{{ pages }}</a>
		{% endif %}
	{% endif %}
{% endfor %}
    </div>
  </main>
{% endblock %}
