{% extends "common/view/layout/base.view.html" %}

{% block content %}
  <main class="my-5">
    <div class="container">
      {% if message %}
        <div class="block">
          <div class="notification is-success">{{ message }}</div>
        </div>
      {% endif %}
  
      {% if error %}
        <div class="block">
          <div class="notification is-danger">{{ error }}</div>
        </div>
      {% endif %}
  
      <div class="block has-text-centered">
        <a class="button is-primary" href="/car/create">Add New Record</a>
      </div>
  
      <div class="block">
        <table class="table is-bordered is-striped is-fullwidth has-text-centered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Brand</th>
              <th>Model</th>
              <th>Year</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for car in cars %}
            <tr>
              <td>{{ car.id }}</td>
              <td>{{ car.brand }}</td>
              <td>{{ car.model }}</td>
              <td>{{ car.year }}</td>
              <td>{{ car.price }}</td>
              <td>
                <a href="/car/view/{{ car.id }}" class="button is-info">
                  <i class="far fa-eye mr-2"></i>
                  Details
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </main>
{% endblock %}
