{% extends "views/layout/base.html" %}

{% block content %}
  <form action="/client/save" method="POST">
    <div class="p-5">
      <div class="columns is-1 is-centered">
        <div class="column is-half">
          {% if client.id %}
            <input type="hidden" value="{{ client.id }}" name="id" readonly/>
          {% endif %}
          
          <div class="field">
            <label class="label" for="firstname">First Name</label>
            <div class="control">
              <input class="input" id="firstname" name="firstname" type="text" value="{{ client.firstName }}" placeholder="{{ client.firstName }}" required/>
            </div>
          </div>
      
          <div class="field">
            <label class="label" for="lastname">Last Name</label>
            <div class="control">
              <input class="input" id="lastname" name="lastname" type="text" value="{{ client.lastName }}" placeholder="{{ client.lastName }}" required/>
            </div>
          </div>
      
          <div class="field">
            <label class="label">Document Type</label>
            <div class="control">
              <div class="select">
                <select name="document-type" required>
                  <option value="">Select an option</option>
                  <option value="identity card" {{ "selected" if client.documentType === "identity card" }}>Identity Card</option>
                  <option value="passport" {{ "selected" if client.documentType === "passport" }}>Passport</option>
                  <option value="driver's licence" {{ "selected" if client.documentType === "driver's licence" }}>Driver's Licence</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label" for="document-number">Document Number</label>
            <div class="control">
              <input class="input" id="document-number" name="document-number" type="text" value="{{ client.documentNumber }}" placeholder="{{ client.documentNumber }}" required/>
            </div>
          </div>
          
          <div class="field">
            <label class="label" for="address">Address</label>
            <div class="control">
              <input class="input" id="address" name="address" type="text" value="{{ client.address }}" placeholder="{{ client.address }}" required/>
            </div>
          </div>

          <div class="field">
            <label class="label" for="phone-number">Phone Number</label>
            <div class="control">
              <input class="input" id="phone-number" name="phone-number" type="text" value="{{ client.phoneNumber }}" placeholder="{{ client.phoneNumber }}" required/>
            </div>
          </div>

          <div class="field">
            <label class="label" for="email">Email</label>
            <div class="control">
              <input class="input" id="email" name="email" type="text" value="{{ client.email }}" placeholder="{{ client.email }}" required/>
            </div>
          </div>

          <div class="field">
            <label class="label" for="birthdate">Date of Birth</label>
            <div class="control">
              <input class="input" id="birthdate" name="birthdate" type="date" value="{{ client.birthDate }}" placeholder="{{ client.birthDate }}" required/>
            </div>
          </div>
      
          <div class="field mt-5">
            <div class="control has-text-centered">
              {% if client.id %}
                <button class="button is-primary">Update Record</button>
              {% else %}
                <button class="button is-primary">Save Record</button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}