{% extends "views/layout/base.html" %}

{% block content %}
  <main class="my-5">
    <div class="columns is-centered">
      <div class="column is-half">
        <form action="/rent/save" method="POST">
          {% if rent.id %}
            <input type="hidden" value="{{ rent.id }}" name="id" readonly/>
          {% endif %}
    
          <div class="field">
            <label class="label">Car</label>
            <div class="control">
              <div class="select">
                <select name="fk-car-id" required>
                  <option value="">Select a car</option>
                  {% for car in cars %}
                    <option value="{{ car.id }}" {{ "selected" if rent.fkCarId === car.id }}>{{ car.brand }} {{ car.model }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
    
          <div class="field">
            <label class="label">Client</label>
            <div class="control">
              <div class="select">
                <select name="fk-client-id" required>
                  <option value="">Select a car</option>
                  {% for client in clients %}
                    <option value="{{ client.id }}" {{ "selected" if rent.fkClientId === client.id }}>{{ client.firstName }} {{ client.lastName }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
    
          <div class="field">
            <label class="label" for="price-per-day">Price per day</label>
            <div class="control">
              <input class="input" id="price-per-day" name="price-per-day" type="text" value="{{ rent.pricePerDay }}" placeholder="{{ rent.pricePerDay }}" required/>
            </div>
          </div>
        
          <div class="field">
            <label class="label" for="start-date">Start Date</label>
            <div class="control">
              <input class="input" id="start-date" name="start-date" type="date" value="{{ rent.startDate }}" placeholder="{{ rent.startDate }}" required/>
            </div>
          </div>
    
          <div class="field">
            <label class="label" for="finish-date">Finish Date</label>
            <div class="control">
              <input class="input" id="finish-date" name="finish-date" type="date" value="{{ rent.finishDate }}" placeholder="{{ rent.finishDate }}" required/>
            </div>
          </div>
    
          <div class="field">
            <label class="label" for="total-price">Total Price</label>
            <div class="control">
              <input class="input" id="total-price" name="total-price" type="text" value="{{ rent.totalPrice }}" placeholder="{{ rent.totalPrice }}" required/>
            </div>
          </div>
    
          <div class="field">
            <label class="label">Payment Method</label>
            <div class="control">
              <div class="select">
                <select name="payment-method" required>
                  <option value="">Select an option</option>
                  <option value="cash" {{ "selected" if rent.paymentMethod === "cash" }}>Cash</option>
                  <option value="credit card" {{ "selected" if rent.paymentMethod === "credit card" }}>Credit Card</option>
                </select>
              </div>
            </div>
          </div>
    
          <div class="field">
            <label class="label">Paid</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="paid" value="1" {{ "checked" if rent.paid === true }} required/>
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="paid" value="" {{ "checked" if rent.paid === false }} required/>
                No
              </label>
            </div>
          </div>
    
          <div class="field">
            <div class="control has-text-centered">
              {% if rent.id %}
                <button class="button is-primary">Update Record</button>
              {% else %}
                <button class="button is-primary">Save Record</button>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
