{% extends "views/layout/base.html" %}

{% block content %}
  <main class="my-5">
    <div class="container">
      {% if message %}
        <div class="block">
          <div class="notification is-success">{{ message }}</div>
        </div>
      {% endif %}
  
      {% if error %}
        <div class="block">
          <div class="notification is-danger">{{ error }}</div>
        </div>
      {% endif %}
  
      <div class="block has-text-centered">
        <a class="button is-primary" href="/rent/create">Add New Record</a>
      </div>
  
      <div class="block">
        <table class="table is-bordered is-striped is-fullwidth has-text-centered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Car</th>
              <th>Client</th>
              <th>Total Price</th>
              <th>Paid</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for rent in rents %}
            <tr>
              <td>{{ rent.id }}</td>
              <td>{{ rent.Car.brand }} {{ rent.Car.model }}</td>
              <td>{{ rent.Client.firstName }} {{ rent.Client.lastName }}</td>
              <td>{{ rent.totalPrice }}</td>
              <td>{{ rent.paid }}</td>
              <td>
                <a href="/rent/view/{{ rent.id }}" class="button is-info">
                  <i class="far fa-eye mr-2"></i>
                  Details
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </main>
{% endblock %}
