{% extends "common/view/layout/base.view.html" %}

{% block content %}
  <main class="my-5">
    <div class="container">
      {% if message %}
        <div class="block">
          <div class="notification is-success">{{ message }}</div>
        </div>
      {% endif %}
  
      {% if error %}
        <div class="block">
          <div class="notification is-danger">{{ error }}</div>
        </div>
      {% endif %}
  
      <div class="block has-text-centered">
        <a class="button is-primary" href="/reservation/create">Add New Record</a>
      </div>
  
      <div class="block">
        <table class="table is-bordered is-striped is-fullwidth has-text-centered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Car</th>
              <th>User</th>
              <th>Total Price</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for reservation in reservations %}
            <tr>
              <td>{{ reservation.id }}</td>
              <td>{{ reservation.car.brand }} {{ reservation.car.model }}</td>
              <td>{{ reservation.user.firstName }} {{ reservation.user.lastName }}</td>
              <td>{{ reservation.totalPrice }}</td>
              <td>{{ reservation.status }}</td>
              <td>
                <a href="/reservation/view/{{ reservation.id }}" class="button is-info">
                  <i class="far fa-eye mr-2"></i>
                  Details
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </main>
{% endblock %}
